# Infra
CONFIG_SERVER_URL=http://localhost:8888
EUREKA_DEFAULT_ZONE=http://localhost:8761/eureka

# Postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=change-me
PRODUCT_DB_URL=jdbc:postgresql://localhost:5432/product_db
CART_DB_URL=jdbc:postgresql://localhost:5432/cart_db
ORDER_DB_URL=jdbc:postgresql://localhost:5432/order_db
PAYMENT_DB_URL=jdbc:postgresql://localhost:5432/payment_db

# Keycloak
KEYCLOAK_ISSUER_URI=http://localhost:8085/realms/ecommerce

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Service URLs for local direct calls
PRODUCT_SERVICE_BASE_URL=http://localhost:8081
CART_SERVICE_BASE_URL=http://localhost:8082

# Iyzico
# Use sandbox credentials locally. In cloud, set these via your platform's secret manager.
IYZICO_API_KEY=
IYZICO_SECRET_KEY=
IYZICO_BASE_URL=https://sandbox-api.iyzipay.com
# Public HTTPS callback URL, for example: https://your-domain.example/api/payments/callback
IYZICO_CALLBACK_URL=
FRONTEND_BASE_URL=http://localhost:3000
IYZICO_LOCALE=tr
IYZICO_CURRENCY=TRY

# Default buyer/profile fields used by payment-service during checkout form initialization
IYZICO_BUYER_NAME=Sandbox
IYZICO_BUYER_SURNAME=User
IYZICO_BUYER_EMAIL=sandbox@example.com
IYZICO_BUYER_IDENTITY_NUMBER=11111111111
IYZICO_BUYER_GSM_NUMBER=+905350000000
IYZICO_BUYER_IP=127.0.0.1
IYZICO_ADDRESS=Altunizade Mah. Inci Cikmazi Sokak No: 3 Uskudar Istanbul
IYZICO_CITY=Istanbul
IYZICO_COUNTRY=Turkey
IYZICO_ZIP_CODE=34742
